* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #333;
  color: #000000;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
}

.button {
  display: inline-block;
  border-radius: 10px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  text-align: start;

  /* css smooth scroll*/
}

nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 10vh;
  background: #f58220;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}
.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
nav .logo {
  position: left;
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  margin-left: auto;
  align-content: center;
}

.w3-card-4 w3-dark-grey {
  display: none;
}
.w3-left,
.w3-right,
.w3-badge {
  cursor: pointer;
}
.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
  width: 100%;
  height: 90vh;
  scroll-snap-align: center;
}

section h1 {
  margin: 100px;
  font-size: 7vw;
  color: aliceblue;
}
section h2 {
  font-size: 6rem;
  text-align: match-parent;
  color: #000;
}

section p {
  font-size: 1.5rem;
}

/* Section Images */
section#home {
  background: url('./imgs/harrison-moore-A77Y_xYkq6c-unsplash.jpg') no-repeat
    center center/cover;
}

section#desc {
  background: lightgray;
}

section#syllabus {
  background: lightgray;
}

section#profiles {
  background: lightgray;
}

section#teachers {
  background: lightgray;
}

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
  .nav-links {
    position: fixed;
    background: #f58220;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .section {
    flex-direction: column;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li a {
    font-size: 25px;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.1s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.3s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
}

/* slide cards syllabus*/

.card-container {
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 38%;
  user-select: none;
  background-color: #1c1c1c;
  border: solid 10px #616161;
  border-radius: 10px;
}

.card-container .slide-card {
  display: inherit;
  position: absolute;
  width: 100%;
  height: 100%;
}
.card-container .slide-card table {
  width: inherit;
  height: inherit;
}

.prev,
.next {
  width: 12%;
  height: inherit;
  position: absolute;
  top: 0;
  background-color: rgba(88, 88, 88, 0.2);
  color: rgba(244, 244, 244, 0.9);
  z-index: 99;
  transition: 0.45s;
  cursor: pointer;
  text-align: center;
}

.next {
  right: 0;
}
.prev {
  left: 0;
}

label span {
  position: absolute;
  font-size: 100pt;
  top: 50%;
  transform: translateY(-50%);
}

.prev:hover,
.next:hover {
  transition: 0.3s;
  background-color: rgba(88, 88, 89, 0.8);
  color: #ffffff;
}

.card-container #nav_slide {
  width: 100%;
  bottom: 12%;
  height: 11px;
  position: absolute;
  text-align: center;
  z-index: 99;
  cursor: default;
}
table {
  position: center;
  float: inline-start;
  max-width: 450px;
  max-height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
}

#nav_slide .dots {
  top: -4vh;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.4s;
}

#nav_slide .dots:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.25s;
}

.slide-card {
  z-index: -1;
}

#t1:checked ~ #s1,
#t2:checked ~ #s2,
#t3:checked ~ #s3,
#t4:checked ~ #s4 {
  z-index: 9;
  animation: scroll 1s ease-in-out;
}

#t1:checked ~ #nav_slide #dot1,
#t2:checked ~ #nav_slide #dot2,
#t3:checked ~ #nav_slide #dot3,
#t4:checked ~ #nav_slide #dot4 {
  background-color: rgba(255, 255, 255, 0.9);
}

@keyframes scroll {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 685px) {
  .card-container {
    border: none;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
  }

  label span {
    font-size: 50pt;
  }

  .prev,
  .next {
    width: 15%;
  }
  #nav_slide .dots {
    width: 12px;
    height: 12px;
  }
}
@media screen and(min-width: 970px) {
  .me {
    display: none;
  }
}

.t2,
.t3,
.t4 {
  display: none;
}

/* slide cards teachers*/

.card-container {
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 38%;
  user-select: none;
  background-color: #1c1c1c;
  border: solid 10px #616161;
  border-radius: 10px;
}

.card-container .slide-card {
  display: inherit;
  position: absolute;
  width: 100%;
  height: 100%;
}
.card-container .slide-card img,
h5,
span {
  width: inherit;
  height: inherit;
}

.prev,
.next {
  width: 12%;
  height: inherit;
  position: absolute;
  top: 0;
  background-color: rgba(88, 88, 88, 0.2);
  color: rgba(244, 244, 244, 0.9);
  z-index: 99;
  transition: 0.45s;
  cursor: pointer;
  text-align: center;
}

.next {
  right: 0;
}
.prev {
  left: 0;
}

label span {
  position: absolute;
  font-size: 100pt;
  top: 50%;
  transform: translateY(-50%);
}

.prev:hover,
.next:hover {
  transition: 0.3s;
  background-color: rgba(88, 88, 89, 0.8);
  color: #ffffff;
}

.card-container #nav_slide {
  width: 100%;
  bottom: 12%;
  height: 11px;
  position: absolute;
  text-align: center;
  z-index: 99;
  cursor: default;
}
img {
  position: relative;
  float: inline-start;
  max-width: 450px;
  max-height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#nav_slide .dots {
  top: -4vh;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.4s;
}

#nav_slide .dots:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.25s;
}

.slide-card {
  z-index: -1;
}

#c1:checked ~ #m1,
#c2:checked ~ #m2,
#c3:checked ~ #m3,
#c4:checked ~ #m4,
#c5:checked ~ #m5,
#c6:checked ~ #m6,
#c7:checked ~ #m7,
#c8:checked ~ #m8 {
  z-index: 9;
  animation: scroll 1s ease-in-out;
}

#c1:checked ~ #nav_slide #dot1,
#c2:checked ~ #nav_slide #dot2,
#c3:checked ~ #nav_slide #dot3,
#c4:checked ~ #nav_slide #dot4,
#c5:checked ~ #nav_slide #dot5,
#c6:checked ~ #nav_slide #dot6,
#c7:checked ~ #nav_slide #dot7,
#c8:checked ~ #nav_slide #dot8 {
  background-color: rgba(255, 255, 255, 0.9);
}

@keyframes scroll {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 685px) {
  .card-container {
    border: none;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
  }

  label span {
    font-size: 50pt;
  }

  .prev,
  .next {
    width: 15%;
  }
  #nav_slide .dots {
    width: 12px;
    height: 12px;
  }
}
@media screen and(min-width: 970px) {
  .me {
    display: none;
  }
}
