* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: sans-serif;
  background: #333;
  color: #000000;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
}

.button {
  display: inline-block;
  border-radius: 10px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  width: 300px;
  transition: all 0.2s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /*  scroll-snap-type: y mandatory;*/
  text-align: start;
}
/* css smooth scroll*/
nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 10vh;
  background: #f58220;
  transition: 0.3s;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

/*syllabus table style*/

#topics {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#desc p {
  padding: 20px;
  text-align: justify;
}
#desc ul {
  padding: 20px;
  text-align: justify;
}

.dcontainer {
  margin: 0 auto;
  width: 70%;
  text-align: justify;
}

#topics td,
#topics th {
  border: 1px solid #ddd;
  padding: 8px;
}

#topics tr:nth-child(even) {
  background-color: #f2f2f2;
}

#topics tr:hover {
  background-color: #ddd;
}

#topics th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f58220;
  color: white;
}
.nav-links {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}
.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
nav .logo {
  position: left;
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  margin-left: auto;
  align-content: center;
}

.w3-card-4 w3-dark-grey {
  display: none;
}
.w3-left,
.w3-right,
.w3-badge {
  cursor: pointer;
}
.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}

#home section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
  width: 100%;
  height: 90vh;
  scroll-snap-align: center;
}
#desc section p {
  font-size: 16px;
  align-items: center;
  text-align: center;
  padding: 5px;
}
section ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  text-align: left;
}
section h1 {
  margin: 100px;
  font-size: 7vw;
  color: aliceblue;
}
section h2 {
  font-size: 6rem;
  text-align: match-parent;
  color: #000;
}

/* Section Images */
section#home {
  background: url('./imgs/harrison-moore-A77Y_xYkq6c-unsplash.jpg') no-repeat
    center center/cover;
  padding: 1rem;
}
#home h1 {
  text-align: center;
}

section#desc {
  background: lightgray;
  padding: 1rem;
  margin: 0 auto;
}
#desc img {
  max-width: 45rem;
  max-height: 40rem;
  align-content: center;
  display: none;
}

section#syllabus {
  background: lightgray;
  padding: 1rem;
}

/* profiles flex box*/

#profiles .card {
  background-color: #ce9c6f;
  padding: 1rem;
  border-radius: 5px;
  min-height: 1rem;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: sans-serif;
  align-items: baseline;
  text-align: justify;
}
#profiles h3 {
  text-align: center;
  font-weight: bold;
}

#profiles img {
  border-radius: 50%;
  max-width: 12em;
  max-height: 12em;
  align-items: left;
}
#profiles .row {
  display: flex;
  flex-wrap: wrap;
}
#profiles .column {
  flex: 1;
}
#profiles .details-container {
  flex: 10;
  font-size: 16px;
  align-content: center;
}

#profiles .avatar-container {
  flex: 1;
  flex-basis: 250px;
  position: initial;
}

section#profiles {
  background: lightgray;
  padding: 1rem;
}

section#teachers {
  background: lightgray;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
  .nav-links {
    position: fixed;
    background: #f58220;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .section {
    flex-direction: column;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li a {
    font-size: 25px;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.1s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.3s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
}

/* slide cards syllabus*/
#c1,
#c2,
#c3,
#c4 {
  display: none;
}
#syllabus .syllabus-container {
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 20rem;
  user-select: initial;
  background-color: #1c1c1c;
  border: solid 10px #616161;
  border-radius: 10px;
}

#syllabus .syllabus-container .slide_crd {
  position: absolute;
  width: 100%;
  height: 100%;
}
#syllabus .syllabus-container .slide_crd table {
  max-width: auto;
  max-height: auto;
}

#syllabus .prev,
#syllabus .next {
  width: 12%;
  height: inherit;
  position: absolute;
  top: 0;
  background-color: rgba(88, 88, 88, 0.1);
  color: rgba(244, 244, 244, 0.9);
  z-index: 99;
  transition: 0.45s;
  cursor: pointer;
  text-align: center;
}

#syllabus .next {
  right: 0;
}
#syllabus .prev {
  left: 0;
}

#syllabus label span {
  position: absolute;
  font-size: 100pt;
  top: 50%;
  transform: translateY(-50%);
}

#syllabus .prev:hover,
#syllabus .next:hover {
  transition: 0.3s;
  background-color: rgba(88, 88, 89, 0.8);
  color: #ffffff;
}

#syllabus .syllabus-container #syl_nav_slide {
  width: 100%;
  bottom: 12%;
  height: 11px;
  position: absolute;
  text-align: center;
  z-index: 99;
  cursor: default;
}

#syllabus #syl_nav_slide .dots {
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.4s;
}

#syllabus #syl_nav_slide .dots:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.25s;
}

#syllabus .slide_crd {
  z-index: -1;
}

#syllabus #c1:checked ~ #one,
#syllabus #c2:checked ~ #two,
#syllabus #c3:checked ~ #three,
#syllabus #c4:checked ~ #four {
  z-index: 9;
  animation: scroll 1s ease-in-out;
}

#syllabus #c1:checked ~ #syl_nav_slide #dot1,
#syllabus #c2:checked ~ #syl_nav_slide #dot2,
#syllabus #c3:checked ~ #syl_nav_slide #dot3,
#syllabus #c4:checked ~ #syl_nav_slide #dot4 {
  background-color: rgba(255, 255, 255, 0.9);
}

@keyframes scroll {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 685px) {
  #syllabus .syllabus-container {
    border: none;
    width: 70%;
    height: 0;
    padding-bottom: 55%;
  }

  #syllabus label span {
    font-size: 50pt;
  }

  #syllabus .prev,
  #syllabus .next {
    width: 15%;
  }
  #syllabus #syl_nav_slide .dots {
    width: 12px;
    height: 12px;
  }
}
@media screen and(min-width: 970px) {
  #syllabus .me {
    display: none;
  }
}

#syllabus table th {
  align-content: center;
}
/*teachers cards*/
#i1,
#i2,
#i3,
#i4,
#i5,
#i6,
#i7,
#i8 {
  display: none;
}

#teachers .card-container {
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 38%;
  user-select: none;
  background-color: lightgrey;
  border: solid 10px #616161;
  border-radius: 10px;
}

#teachers .card-container .slide_img {
  position: absolute;
  width: 100%;
  height: 100%;
}
#teachers .card-container .slide_img img {
  max-width: 300px;
  max-height: 250px;
}

#teachers .prev,
#teachers .next {
  width: 12%;
  height: inherit;
  position: absolute;
  top: 0;
  background-color: rgba(88, 88, 88, 0.2);
  color: rgba(244, 244, 244, 0.9);
  z-index: 99;
  transition: 0.45s;
  cursor: pointer;
  text-align: center;
}

#teachers .next {
  right: 0;
}
#teachers .prev {
  left: 0;
}

#teachers label span {
  position: absolute;
  font-size: 100pt;
  top: 50%;
  transform: translateY(-50%);
}

#teachers .prev:hover,
#teachers .next:hover {
  transition: 0.3s;
  background-color: rgba(88, 88, 89, 0.8);
  color: #ffffff;
}

#teachers .card-container #nav_slide {
  width: 100%;
  bottom: 12%;
  height: 11px;
  position: absolute;
  text-align: center;
  z-index: 99;
  cursor: default;
}

#teachers #nav_slide .dots {
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.4s;
}

#teachers #nav_slide .dots:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.25s;
}

#teachers .slide_img {
  z-index: -1;
}

#teachers #i1:checked ~ #one,
#teachers #i2:checked ~ #two,
#teachers #i3:checked ~ #three,
#teachers #i4:checked ~ #four,
#teachers #i5:checked ~ #five,
#teachers #i6:checked ~ #six,
#teachers #i7:checked ~ #seven,
#teachers #i8:checked ~ #eight {
  z-index: 9;
  animation: scroll 1s ease-in-out;
}

#teachers #i1:checked ~ #nav_slide #dot1,
#teachers #i2:checked ~ #nav_slide #dot2,
#teachers #i3:checked ~ #nav_slide #dot3,
#teachers #i4:checked ~ #nav_slide #dot4,
#teachers #i5:checked ~ #nav_slide #dot5,
#teachers #i6:checked ~ #nav_slide #dot6,
#teachers #i7:checked ~ #nav_slide #dot7,
#teachers #i8:checked ~ #nav_slide #dot8 {
  background-color: rgba(255, 255, 255, 0.9);
}

@keyframes scroll {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 685px) {
  #teachers .card-container {
    border: none;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
  }

  #teachers label span {
    font-size: 50pt;
  }

  #teachers .prev,
  #teachers .next {
    width: 15%;
  }
  #teachers #nav_slide .dots {
    width: 12px;
    height: 12px;
  }
}
@media screen and(min-width: 970px) {
  #teachers .me {
    display: none;
  }
}
